1. Water Level Monitor                      -   4 per site  - 3000/-
2. Visitor Face Capture with Time           -   2 per site
3. Gas Scale                                -   10 per site - 3500/-

--
4. Energy meter
5. Water meter